*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    scroll-behavior:smooth;
}

body{
    font-family:Arial,sans-serif;
    background:linear-gradient(180deg,#ffe6f1,#fff);
    color:#444;
}

section{
    min-height:100vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
    padding:40px 25px;
}

.hero{
    background:linear-gradient(135deg,#ffd9e8,#fff5fa);
}

h1{
    font-size:52px;
    color:#ff5f9e;
    margin-bottom:15px;
}

h2{
    color:#ff5f9e;
    margin-bottom:25px;
    font-size:36px;
}

p{
    max-width:700px;
    line-height:1.8;
    margin:15px 0;
    font-size:18px;
}

button{
    margin-top:30px;
    padding:15px 35px;
    border:none;
    border-radius:40px;
    background:#ff8db9;
    color:white;
    font-size:18px;
    cursor:pointer;
    transition:.3s;
}

button:hover{
    transform:scale(1.08);
}

#story{
    background:#fff;
}

#letter{
    background:#fff7fb;
}
@keyframes fall {
    0%{
        transform:translateY(-50px);
        opacity:1;
    }

    100%{
        transform:translateY(110vh);
        opacity:0;
    }
}
#intro{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg,#ffd7e8,#fff);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 99999;
}

#intro h1{
    font-size: 60px;
}

#intro p{
    margin: 20px 0;
}

#startBtn{
    margin-top: 20px;
}
